{% load static from staticfiles %}
{% load e_map_tags_n_filters %}

<div class="section group">
					{% for emap_obj in emap_obj_list %}
						<div class="grid_1_of_4 images_1_of_4">
					 <h4><a href="/preview/">{{emap_obj.title}} {{emap_obj.sub_title}}</a></h4>
					  <a href="/preview/">
                          <!--<img class="img-responsive"  onmouseover="bigImg(this)" onmouseout="normalImg(this)"-->
                               <!--src="{{emap_obj.get_pro_img.0}}" alt=""  height="200" width="100"/>-->
                           <img class="img-responsive"  src="{{emap_obj.get_pro_img.0}}" alt=""  height="200" width="100"/>
                      </a>
					  <div class="price-details">
				       <div class="price-number">
							<p><span class="rupees">{{emap_obj.prise}}</span></p>
					    </div>
					       		<div class="add-cart">
									<h4><a href="/preview/"
                                           onmouseover="document.getElementById('div{{emap_obj.id}}').style.display = 'block';"
                                           onmouseout="document.getElementById('div{{emap_obj.id}}').style.display = 'none';"
                                            >General Info</a></h4>
                                    <h4><a href="/preview/">More Info</a></h4>
                                    <div id="div{{emap_obj.id}}" style="display: none;">
										<table id="t01">
                                            {% with gen_spec_dict=emap_obj.get_spec_dict|getdictkey:"GENERAL FEATURES" %}

                                            {% for gen_spec_key, gen_spec_val in gen_spec_dict.items %}
										  <tr>
											<td>{{gen_spec_key}}</td>
											<td>{{gen_spec_val}}</td>
										  </tr>
                                            {% endfor %}
                                            {% endwith %}

										</table>

									</div>

							     </div>
							 <div class="clear"></div>
					</div>
				</div>
						{% if forloop.counter|divisibleby:4 %}
						</div>
						<div class="section group">
						{% endif %}
					{% endfor %}
						</div>