<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->

<!DOCTYPE HTML>
{% load static from staticfiles %}
{% load e_map_tags_n_filters %}

<link>
<title>Free Ecomm Template Website Template | Home :: w3layouts</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
<link href="{% static 'e_map_app/web/css/style.css' %}" rel="stylesheet" type="text/css" media="all"/>
<link href="{% static 'e_map_app/web/css/e_map.css' %}" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="{% static 'e_map_app/web/js/jquery-1.9.0.min.js' %}"></script>
<script src="{% static 'e_map_app/web/js/jquery.openCarousel.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'e_map_app/web/js/easing.js' %}"></script>
<script type="text/javascript" src="{% static 'e_map_app/web/js/move-top.js' %}"></script>
</head>
<body>
	<div class="header">
  	  		<div class="wrap">
				<div class="header_top">
					<div class="logo">
						<a href="/"><img src="{% static 'e_map_app/web/images/logo.png' %}" alt="" /></a>
					</div>
						<div class="header_top_right">
							  <div class="search_box">
							  	<span>Search</span>
					     		<form>
					     			<input type="text" value=""><input type="submit" value="">
					     		</form>
					     		<div class="clear"></div>
					     	</div>
					</div>
			     <div class="clear"></div>
  		    </div>     
  		    <div class="navigation">
  		    	<a class="toggleMenu" href="#">Menu</a>
					<ul class="nav">
						<li>
							<a href="/">Home</a>
						</li>
						<li  class="test">
							<a href="#">Mobiles</a>
							<ul id="menu_brands">
								{% for brand in brands_list %}
								<li>
									<a href="/mobiles/{{brand.brand}}/">{{brand.brand}}</a>
									<ul>
										<!--<li><a href="#">Pots & Pans</a></li>-->
										<!--<li><a href="#">Pressure Cookers</a></li>-->
									</ul>
								</li>
								{% endfor %}
							</ul>
						</li>
						<li>
							<a href="#">Computers</a>
							<ul>
								<li>
									<a href="#">Laptops</a>
									<ul>
										<li><a href="#">HP</a></li>
										<li><a href="#">Lenova</a></li>
										<li><a href="#">Dell</a></li>
										<li><a href="#">All Brands</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Computer Accessories</a>
									<ul>
										<li><a href="#">External Hard Disks</a></li>
										<li><a href="#">Pendrives</a></li>
										<li><a href="#">PC Components</a></li>
										<li><a href="#">Computer Peripherals</a></li>
										<li><a href="#">Datacards & Routers</a></li>
										<li><a href="#">Mouse</a></li>
										<li><a href="#">Laptop Skins & Decals</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>

							<a href="#">Health & Beauty</a>
							<ul>
								<li><a href="#">Bath & Skin Care</a></li>
								<li><a href="#">Health & Safety</a></li>
								<li><a href="#">Maternity Care</a></li>
								<li><a href="#">Body Care Combos</a></li>
								
							</ul>
						</li>
						<li>
							<a href="#">Home & Garden</a>
							<ul>
								<li>
									<a href="#">Home Furnishing</a>
									<ul>
										<li><a href="#">Bed</a></li>
										<li><a href="#">Bath</a></li>
										<li><a href="#">Kitchen</a></li>
										<li><a href="#">Living</a></li>
										
									</ul>
								</li>
								<li>
									<a href="#">Home Decor</a>
									<ul>
										<li><a href="#">Flowers & Plants</a></li>
										<li><a href="#">Home Fragrances</a></li>
										<li><a href="#">Spiritual Decor</a></li>
										<li><a href="#">Wall Decor</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Gardening Tools</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="#">Office Supplies</a>
							<ul>
								<li>
									<a href="#">Books</a>
									<ul>
										<li><a href="#">Academic & Professional</a></li>
										<li><a href="#">Entrance Exam</a></li>
										<li><a href="#">Literature & Fiction</a></li>
										<li><a href="#">Children & Teens</a></li>
										<li><a href="#">Indian Writing</a></li>
										<li><a href="#">New Releases</a></li>
										<li><a href="#">Bestsellers</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Stationery</a>
									<ul>
										<li><a href="#">Pens</a></li>
										<li><a href="#">Calculators</a></li>
										<li><a href="#">College Supplies</a></li>
										<li><a href="#">Art Supplies</a></li>
										<li><a href="#">Diaries & Notebooks</a></li>
										<li><a href="#">Gifting</a></li>
									</ul>
								</li>
								
							</ul>
						</li>
						<li>
							<a href="#">Sports Equipment</a>
							<ul>
								<li>
									<a href="#">Fitness</a>
									<ul>
										<li><a href="#">Yoga Mats</a></li>
										<li><a href="#">Gym Gloves</a></li>
										<li><a href="#">Ab Exercisers</a></li>
										<li><a href="#">Gym Balls</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Indoor Sports</a>
									<ul>
										<li><a href="#">Chess</a></li>
										<li><a href="#">Darts</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Team Sports</a>
									<ul>
										<li><a href="#">Basketball</a></li>
										<li><a href="#">Cricket</a></li>
										<li><a href="#">Football</a></li>
										<li><a href="#">VolleyBall</a></li>
									</ul>
								</li>
								<li>
									<a href="#">Racquet Sports</a>
									<ul>
										<li><a href="#">Badminton</a></li>
										<li><a href="#">Squash</a></li>
										<li><a href="#">Table Tennis</a></li>
										<li><a href="#">Tennis</a></li>
									</ul>
								</li>
							</ul>
						</li>
						<li>
							<a href="/contact/">Contact Us</a>
						</li>
					</ul>
					 <span class="left-ribbon"> </span> 
      				 <span class="right-ribbon"> </span>    
  		    </div>
  		     <div class="header_bottom">
			   <div class="slider-text">
			   	<h2>Lorem Ipsum Placerat <br/>Elementum Quistue Tunulla Maris</h2>
			   	<p>Vivamus vitae augue at quam frigilla tristique sit amet<br/> acin ante sikumpre tisdin.</p>
			   	<a href="#">Sitamet Tortorions</a>
	  	      </div>
	  	      <div class="slider-img">
	  	      	<img src="{% static 'e_map_app/web/images/slider-img.png' %}" alt="" />
	  	      </div>
	  	     <div class="clear"></div>
	      </div>
   		</div>
   </div>
   <!------------End Header ------------>
  <div class="main">
      <div class="content">
    	        <div class="content_top">
    	        	<div class="wrap">
		          	   <h3>Latest Products</h3>
		          	</div>
		          	<div class="line"> </div>
		          	<div class="wrap">
		          	 <div class="ocarousel_slider">  
	      				<div class="ocarousel example_photos" data-ocarousel-perscroll="3">
			                <div class="ocarousel_window">
			                   <a href="#" title="img1"> <img src="{% static 'e_map_app/web/images/latest-product-img1.jpg' %}" alt="" /><p>Nuncvitae</p></a>
			                   <a href="#" title="img2"> <img src="{% static 'e_map_app/web/images/latest-product-img2.jpg' %}" alt="" /><p>Suspendiss</p></a>
			                   <a href="#" title="img3"> <img src="{% static 'e_map_app/web/images/latest-product-img3.jpg' %}" alt="" /><p>Phasellus ferm</p></a>
			                   <a href="#" title="img4"> <img src="{% static 'e_map_app/web/images/latest-product-img4.jpg' %}" alt="" /><p>Veldignissim</p></a>
			                   <a href="#" title="img5"> <img src="{% static 'e_map_app/web/images/latest-product-img5.jpg' %}" alt="" /><p>Aliquam interd</p></a>
			                   <a href="#" title="img6"> <img src="{% static 'e_map_app/web/images/latest-product-img6.jpg' %}" alt="" /><p>Sapien lectus</p></a>
			                   <a href="#" title="img1"> <img src="{% static 'e_map_app/web/images/latest-product-img1.jpg' %}" alt="" /><p>Nuncvitae</p></a>
			                   <a href="#" title="img2"> <img src="{% static 'e_map_app/web/images/latest-product-img2.jpg' %}" alt="" /><p>Suspendiss</p></a>
			                   <a href="#" title="img3"> <img src="{% static 'e_map_app/web/images/latest-product-img3.jpg' %}" alt="" /><p>Phasellus ferm</p></a>
			                   <a href="#" title="img4"> <img src="{% static 'e_map_app/web/images/latest-product-img4.jpg' %}" alt="" /><p>Veldignissim</p></a>
			                   <a href="#" title="img5"> <img src="{% static 'e_map_app/web/images/latest-product-img5.jpg' %}" alt="" /><p>Aliquam interd</p></a>
			                   <a href="#" title="img6"> <img src="{% static 'e_map_app/web/images/latest-product-img6.jpg' %}" alt="" /><p>Sapien lectus</p></a>
			                </div>
			               <span>           
			                <a href="#" data-ocarousel-link="left" style="float: left;" class="prev"> </a>
			                <a href="#" data-ocarousel-link="right" style="float: right;" class="next"> </a>
			               </span>
					   </div>
				     </div>  
				   </div>    		
    	       </div>
    	  <div class="content_bottom">
    	    <div class="wrap">
    	    	<div class="content-bottom-left">
                    <div class="categories">
						   <ul id="browse_brands">
						  	   <h3>Browse All Brands</h3>
                               {% for brand in brands_list %}
							      <li><a href="/mobiles/{{brand.brand}}/">{{brand.brand}}</a></li>

                               {% endfor %}
						  	 </ul>
						</div>
    	    		<div class="categories">
						   <ul>
						  	   <h3>Browse All Categories</h3>
							      <li><a href="#">Appliances</a></li>
							      <li><a href="#">Sports Equipments</a></li>
							      <li><a href="#">Computers & Electronics</a></li>
							      <li><a href="#">Office supplies</a></li>
							      <li><a href="#">Health & Beauty</a></li>
							       <li><a href="#">Home & Garden</a></li>
							       <li><a href="#">Apparel</a></li>
							       <li><a href="#">Toys & Games</a></li>
							       <li><a href="#">Automotive</a></li>
						  	 </ul>
						</div>		
						<div class="buters-guide">
						<h3>Buyers Guide</h3>
						<p><span>We want you to be happy with your purchase.</span></p>	
						<p>So we're committed to giving you all the tools to make the right decision with minimum fuss. </p>
					  </div>	
					  <div class="add-banner">
					  	<img src="{% static 'e_map_app/web/images/camera.png' %}" alt="" />
					  	<div class="banner-desc">
					  		<h4>Electronics</h4>
					  	    <a href="#">More Info</a>
					  	</div>
					  	<div class="clear"></div>
					  </div>
					    <div class="add-banner add-banner2">
					  	<img src="{% static 'e_map_app/web/images/computer.png' %}" alt="" />
					  	<div class="banner-desc">
					  		<h4>Computers</h4>
					  	    <a href="#">More Info</a>
					  	</div>
					  	<div class="clear"></div>
					  </div>
    	    	</div>
    	    	
    	    	<div class="content-bottom-right">
    	    	<h3>Browse All Categories</h3>
                    {% include "e_map_app/index_product_info.html" %}

			    <div class="product-articles">
			      <h3>Browse All Categories</h3>
			      <ul>
			      	<li>
			      <div class="article">
			      	<p><span>Aenean vitae massa dolor</span></p>
			      	<p>Phasellus in quam dui. Nunc ornare, tellus rutrum porttitor imperdiet, dui leo molestie nisl, sit amet dignissim nibh magna pharetra quam. Nunc ultrices pellentesque massa, ac adipiscing dui rutrum id. In cursus augue non erat faucibus eu condimentum dolor molestie.</p>
			      	<p><a href="#">+ Read Full article</a></p>
			      </div>
			      </li>
			      <li>
			       <div class="article">
			      	<p><span>Phasellus sollicitudin consectetur</span></p>
			      	<p>Cras aliquam, odio ac consectetur tincidunt, eros nunc fermentum augue, quis rutrum ante lectus ac lectus. Fusce sed tellus orci, et feugiat urna. Integer et dictum leo. Nulla consectetur tempus orci sed consequat. Mauris cursus est a sapien venenatis faucibus. Etiam sagittis convallis volutpat.</p>
			      	<p><a href="#">+ Read Full article</a></p>
			      </div>
			      </li>
			      </ul>
			    </div>
		      </div>
		      <div class="clear"></div>
		   </div>
         </div>
      </div>
    </div>
   <div class="footer">
   	  <div class="wrap">	
			 <div class="copy_right">
				<p>Copy rights (c). All rights Reseverd | Template by  <a href="http://w3layouts.com" target="_blank">W3Layouts</a> </p>
		   </div>	
		   <div class="footer-nav">
		   	<ul>
		   		<li><a href="#">Terms of Use</a> : </li>
		   		<li><a href="#">Privacy Policy</a> : </li>
		   		<li><a href="/contact/">Contact Us</a> : </li>
		   		<li><a href="#">Sitemap</a></li>
		   	</ul>
		   </div>		
        </div>
    </div>
    <script type="text/javascript">
		$(document).ready(function() {			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});
	</script>
    <a href="#" id="toTop"> </a>
    <script type="text/javascript" src="{% static 'e_map_app/web/js/navigation.js' %}"></script>
    <script type="text/javascript" src="{% static 'e_map_app/web/js/e_map.js' %}"></script>
</body>
</html>

